@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Halant:wght@300&display=swap');

$fontMain:'Halant', serif;
$fontSecond:'Nunito Sans', sans-serif;

$textSmall:1rem;
$textMedium:2.5rem;
